<div class="container">
    <div class="row">
      <h4>Work Experience</h4>
      <div class="col-md" *ngFor="let work of workExperiencies">
        <p>Cibera: Penetration Tester - 2021</p>
        <p>IntegriAp - Servicio Social: Python Developer - 2022</p>
        <p>Infinity: IT Consultant - 2021</p>
        <p>HackCode: Owner & Freelancer - 2019</p>
      </div>
      <div class="col-md">
        <h4>Work Experience</h4>
        <p>Cibera: Penetration Tester - 2021</p>
        <p>IntegriAp - Servicio Social: Python Developer - 2022</p>
        <p>Infinity: IT Consultant - 2021</p>
        <p>HackCode: Owner & Freelancer - 2019</p>
      </div>
      <div class="col-md">
        <h4>Work Experience</h4>
        <p>Cibera: Penetration Tester - 2021</p>
        <p>IntegriAp - Servicio Social: Python Developer - 2022</p>
        <p>Infinity: IT Consultant - 2021</p>
        <p>HackCode: Owner & Freelancer - 2019</p>
      </div>
      <div class="col-md">
        <h4>Work Experience</h4>
        <p>Cibera: Penetration Tester - 2021</p>
        <p>IntegriAp - Servicio Social: Python Developer - 2022</p>
        <p>Infinity: IT Consultant - 2021</p>
        <p>HackCode: Owner & Freelancer - 2019</p>
      </div>
    </div>
  </div>