<div class="container my-3">
  <div class="row">
    <div class="col-md">
      <p>Adriel Eduardo Peregrina Soto</p>
      <p>Software Engineer Student and Penetration Tester</p>
      <p>Telefono: +529241130009</p>
      <a href="https://www.linkedin.com/in/adrielperegrina">linkedIn</a>
      <a href="https://www.linkedin.com/in/adrielperegrina">Adriel Peregrina</a>
      <br>
      <a href="https://github.com/Adpsec/">Github</a>
    </div>
    <div class="col-md">
      <img src="../../../assets/images/foto.jpeg" class="img-circle" width="104" height="100">
      <div>
        <ul>
          <br>
          <li>Leal</li>
          <li>Honesto</li>
          <li>Atodidacta</li>
        </ul>      
      </div>
    </div>
  </div>
</div>