<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cv Adp</title>
  </head>
  <body>
      <div class="container align-content-center">
        <div class="row">
          <div class="col">  
            <app-header-cv></app-header-cv>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-work-exerience-cv></app-work-exerience-cv>
            <app-certificates-cv></app-certificates-cv>
            <app-education></app-education>
          </div>
          <div class="col">
            <app-skills-cv></app-skills-cv>
            <app-languajes></app-languajes>
            <app-interests></app-interests>
          </div>
        </div>
      </div>
  </body>
</html>
