<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cv Adp</title>
  </head>
  <body>
    <header>
      <!-- <app-header-cv></app-header-cv> -->
      <div class="container">
        <div class="row">
          <div class="col">  
            Header
            <app-header-cv></app-header-cv>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-work-exerience-cv></app-work-exerience-cv>
          </div>
          <div class="col">Skills</div>
        </div>
      </div>
    </header>
  </body>
</html>
